.home-detail-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin: 0 20px;
}

.detail-containers{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

#take-back-link{
    display: flex;
    width: 150px;
    align-items: center;
    font-size: 16px;
    text-align: center;
    justify-content: space-between;
    margin-left:40px;
    margin-top: 30px;
    color: var(--Baby-Blue-Body);
}

#take-back-link svg{
    font-size: 1.5em;
    color: salmon;
}

.left-detail-container{
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-image-container{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    align-items: center;
}

#big-image-container{
    height: 100%; 
    margin: 0 0 20px 0;
}

#big-image-container img{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    object-fit: contain;
}

#three-images-container{
    height: 140px;
    width: 100%;
    display: flex;
}

.trio-images{
    width: 100%;
    height: 140px; 
    display: flex;
    justify-content: space-around;
}

.trio-images img{
    border-radius: 12px; 
    width: 95%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.description-container{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    /* width: auto; */
    height: 40vh; 
    justify-content: space-evenly;
    width: 100%;
    padding: 0 20px;
}

.description-container h2{
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    color: salmon;
}

.description-container p{
    font-size: 20px;
    line-height: 32px; 
}

.key-features-container{
    display: flex;
    /* border: 2px solid red; */
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin: 20px 0;
    padding: 0 20px;
}

.key-features-container h2{
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    color: var(--Baby-Blue-Body);
}

.key-features-container p{
    font-size: 20px;
    font-family: Epilogue;
    line-height: 32px;
    padding: 10px 0;
}

.key-features-container svg{
    padding-right: 10px;
     color: salmon;
}

.right-detail-container{
    width: 46%;
    height: auto;
}


.home-detail-card{
    width: auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 24px;
    border: 1.5px solid #CED3D8; 
}

.detail-info-section{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-info-section span{
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    /* border: 2px solid red; */
    width: 65%;
    margin: 40px 0;
}


#single-line{
    border: 1px solid #CED3D8;
    width: 90%;
}

.detail-info-icons{
    height: 46vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
}

.detail-icon-row-one{
    /* border: 1px solid green; */
    height:auto;
    display: flex;
     text-align: center;
}

.detail-icon-row-one p{
    font-size: 48px; 
}

.detail-icon-row-one svg{
    margin-right: 20px;
    font-size: 2em;
}

.detail-icon-row-two{
    /* border: 1px solid purple; */
    height:auto;
    display: flex;
    text-align: center;
}

.detail-icon-row-two svg{
    font-size: 30px;
}

.detail-icon-boxes{
    /* border: 1px dotted blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height:auto;
    padding: 30px 0;
}

.detail-icon-box-title p:first-child{
    color: #000;
    text-align: center;
    font-size: 20px;
    line-height: 24px; 
    font-weight: bold;
}

.detail-icon-boxes p{
    color: #3A5295;
    text-align: center;
    font-size: 15px;
    /* font-weight:400; */
    line-height: 48px;
}

.detail-icon-boxes span{
    color: #3A5295;
    text-align: center;
    font-size: 29px;
    font-weight:900;
    line-height: 48px;
}

#special-font{
    color: #3A5295;
    text-align: center;
    font-size: 25px;
    font-weight:900;
    line-height: 48px;
}

.detail-info-buttons{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    width: auto;
}

.detail-info-buttons button{
    width: 49%;
    height: 45px;
    flex-shrink: 0;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.detail-info-buttons button:first-child{
    border: 1px solid #CED3D8;
    background-color: var(--White-Body);
    font-size: 16px; 
}

.detail-info-buttons button:last-child{
    background-color: var(--Dark-Blue-Body);
    color: var(--White-Text);
    text-align: center;
    font-size: 20px;
    font-weight: 600; 
}

.bedroom-prices-container{
    /* border: 1px dotted purple; */
    width: 100%x;
    min-height: 50vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.bedroom-container-title{
    font-size: 36px;
    font-weight: 500;
    line-height: 48px; 
    color: salmon;
}

.bedroom-row-chart{
    width: 100%;
    height: 30vh; 
    border-radius: 24px;
    border: 1px solid #CED3D8; 
}

.bedroom-single-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25%;
    padding: 0 20px;
    border-bottom: 1px solid #CED3D8;
    font-size: 20px;
    line-height: 32px; 
}

.bedroom-single-row:last-child{
    border: none;
}

.fav-home{
    color: red;
}
/* media queries */

/* tablet css  */
@media screen and (max-width: 930px) {
    #three-images-container {
        height: auto;
    }

    .trio-images {
        height: 200px;
        width: auto;
    }

    .detail-containers {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .left-detail-container {
        width: auto;
    }

    .right-detail-container {
        width: 100%;
        margin-bottom: 700px;
    }

    .home-detail-card {
        height: 42vh;
    }

    .detail-info-icons {
        height: 30vh;
    }

    .detail-info-buttons {
        margin: 0;
    }
}

/* Mobile Css */
@media screen and (max-width: 560px) {
    #take-back-link{
    margin-left:8px;
    }
    .detail-image-container {
        width: 100%;
    }

    #three-images-container {
        height: auto;
    }

    .trio-images {
        height: 100px;
    }

    .description-container {
        height: auto;
        padding: 0 10px;
    }

    .description-container h2 {
        font-size: 30px;
    }

    .description-container p {
        font-size: 16px;
    }

    .key-features-container h2 {
        font-size: 30px;
    }

    .key-features-container p {
        font-size: 16px;
    }

    .home-detail-card {
        height: 45vh;
    }

    .detail-info-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .detail-info-section span:first-child {
        font-size: 30px;
    }

    #single-line {
        border: 1px solid #CED3D8;
        width: 90%;
    }

    .detail-info-icons {
        height: 30vh;
    }

    .detail-icon-row-two svg {
        font-size: 20px;
    }

    .detail-icon-box-title p:first-child {
        font-size: 14px;
    }

    .detail-icon-boxes p {
        font-size: 13px;
    }

    .detail-icon-boxes span {
        font-size: 22px;
    }

    #special-font {
        font-size: 16px;
    }

    .detail-info-buttons {
        margin-top: 15px;
    }

    .bedroom-container-title {
        font-size: 30px;
    }

    .bedroom-single-row {
        font-size: 18px;
    }
}

/* Mobile Css */
@media screen and (max-width: 430px) {
    .description-container {
        height: auto;
        padding: 0 10px;
        width: auto;
    }

    .description-container h2 {
        font-size: 30px;
    }

    .description-container p {
        font-size: 14px;
    }

    .key-features-container h2 {
        font-size: 30px;
    }

    .key-features-container p {
        font-size: 16px;
    }

    .home-detail-card {
        height: 56vh;
        border: none;
    }

    .detail-info-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1.5px solid #CED3D8;
        border-radius: 24px;
    }

    .detail-info-section span:first-child {
        font-size: 30px;
    }

    #single-line {
        border: 1px solid #CED3D8;
        width: 90%;
    }

    .detail-info-icons {
        height: 30vh;
    }

    .detail-icon-row-two svg {
        font-size: 20px;
    }

    .detail-icon-box-title p:first-child {
        font-size: 12px;
    }

    .detail-icon-boxes p {
        font-size: 10px;
    }

    .detail-icon-boxes span {
        font-size: 17px;
    }

    #special-font {
        font-size: 14px;
    }

    .detail-info-buttons {
        margin-top: 15px;
        flex-direction: column;
        align-items: center;
    }

    .detail-info-buttons button {
        margin: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .home-detail-card {
        height: 100vh;
        border: none;
    }

    .right-detail-container {
        margin-bottom: 20px; /* Remove excessive margin */
    }
}

@media screen and (max-width: 376px) {
    .description-container {
        height: auto;
        padding: 0 10px;
        width: auto;
    }

    .home-detail-card {
        height: auto;
        padding: 50px 5px;
        width: auto;
    }

    .detail-info-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1.5px solid #CED3D8;
        border-radius: 24px;
    }

    .detail-info-section span:first-child {
        font-size: 30px;
    }

    #single-line {
        border: 1px solid #CED3D8;
        width: 90%;
    }

    .detail-info-icons {
        height: auto;
    }

    .detail-icon-boxes {
        margin-right: 10px;
        margin-bottom: 0;
    }

    .detail-icon-row-two svg {
        font-size: 20px;
    }

    .detail-icon-box-title p:first-child {
        font-size: 10px;
    }

    .detail-icon-boxes p {
        font-size: 10px;
    }

    .detail-icon-boxes span {
        font-size: 17px;
    }

    #special-font {
        font-size: 13px;
    }

    .detail-info-buttons {
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }

    .detail-info-buttons button {
        margin: 10px;
        width: 100%;
    }

    .bedroom-prices-container {
        margin-top: 80px;
        margin-bottom: 0;
    }

    .bedroom-container-title {
        margin-bottom: 0px;
    }

    .bedroom-row-chart {
        height: 50vh;
    }
}
