.grid-photo-container {
  width: 90%;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 50px 0;
  border: 2px solid red;
}

.grid-photo-item{
    align-items: center;
}
