/*! header css */

.contact-container{
    width: 750px;
    height: 545px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: -2;
}



.contact-container p:nth-child(2){
    font-weight: 400;
    font-size: 20px;
    padding: 0 30px;
}

.contact-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.contact-header h2{
    font-weight: 500;
    font-size: 36px;
}


.contact-header img{
    width: 3em;
}

.contact-form-container{
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 20px; */
    height: auto;
}

.contact-form-container input{
    width: 280px;
    height: 50px;
    padding-left: 10px;
    border: 1px solid var(--Email-Form-Text);
    border-radius: 12px;
    font-weight: 400;
    font-size: 20px;
}

.contact-form-container select{
     width: 280px;
    height: 50px;
    padding-left: 10px;
    border: 1px solid var(--Email-Form-Text);
    border-radius: 12px;
    font-weight: 400;
    font-size: 20px;
    background-color: var(--White-Body);
}
.contact-form-container input::placeholder{
     color: #9b9c9e;
}

.form-container-1{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-weight: 500;
    font-size: 24px;
}

.form-container-2{
    margin-top: 30px;
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-weight: 500;
    font-size: 24px;
    height: 400px;
}


.form-container-2 textarea{
    width: 280px;
    height: 184px;
    border: 1px solid var(--Email-Form-Text);
    border-radius: 12px;
    font-weight: 400;
    font-size: 20px;
    padding: 10px 0 0 10px;
     resize: none;
}

.form-container-2 textarea::placeholder{
       color: #9b9c9e;
}

.form-container-2 button{
    width: 280px;
    height: 56px;
    background: #3A5295;
    border-radius: 12px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}



/* media queries */

/* tablet css  */
@media screen and (max-width: 960px){
.contact-container{
    height: auto;
    width: auto;
    justify-content: center;
}

.contact-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

.contact-form-container{
    flex-direction: column;
    width: auto;
    padding: 0 30px;
    margin-top: 20px;
}


.contact-form-container p{
    margin: 3px 0;
    width: 450px;
}

.contact-form-container input{
    margin: 10px 0;
    width: 450px;
}


.contact-form-container select{
     width: 450px;
    margin-top: 15px;
}


.form-container-2 textarea{
    width: 450px;
}

.form-container-2 button{
    width: 450px;
    margin-top: 10px;
}

}

/* Mobile Css */
@media screen and (max-width: 680px) {
   .contact-container{
    height: auto;
    width: 300px;
    justify-content: center;
}

.contact-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

.contact-form-container{
    flex-direction: column;
    width: auto;
    padding: 0 30px;
    margin-top: 20px;
}


.contact-form-container p{
    margin: 3px 0;
    width: 450px;
}

.contact-form-container input{
    margin: 10px 0;
    width: 250px;
}


.contact-form-container select{
    width: 250px;
    margin-top: 15px;
}


.form-container-2 textarea{
    width: 250px;
}

.form-container-2 button{
    width: 250px;
    margin-top: 10px;
}
}

/* Mobile Css */
@media screen and (max-width: 360px){
   .contact-container{
    height: auto;
    width: 250px;
    justify-content: center;
}

.contact-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

.contact-form-container{
    flex-direction: column;
    width: auto;
    padding: 0 30px;
    margin-top: 20px;
}


.contact-form-container p{
    margin: 3px 0;
}

.contact-form-container input{
    margin: 10px 0;
    width: 200px;
}

.contact-form-container input::placeholder{
    margin: 10px 0;
    width: 200px;
    font-size: 14px;
}

.contact-form-container select{
    width: 200px;
    margin-top: 15px;
}


.form-container-2 textarea{
    width: 200px;
}

.form-container-2 button{
    width: 200px;
    margin-top: 10px;
}

}