.all-cities-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin-bottom: 50px;
}

.all-cities-container h2{
    font-weight: 500;
    font-size: 36px;
    align-items: center;
    text-align: center;
    font-weight: 600;
    margin: 100px 0;
}

.all-city-buttons{
  height: 95vh;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap:10px
}

.all-city-buttons button{
    width: 280px;
    height: 88px;
    background-color: var(--White-Body);
    border: 1.5px solid var(--Email-Form-Text);
    border-radius: 24px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.all-city-buttons button:hover{
    background-color: var(--Dark-Blue-Body);
    color: var(--White-Text);
}



/* media queries */

/* tablet css  */
@media screen and (max-width: 930px){
.all-cities-container{
    height: auto;
}

.all-city-buttons{
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    width: auto;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

}

/* Mobile Css */
@media screen and (max-width: 605px){
.all-cities-container{
    height: auto;
    margin-bottom: 100px;
}

.all-cities-container h2{
    margin: 50px 0;
}

.all-city-buttons{
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    width: auto;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


}

/* Mobile Css */
@media screen and (max-width: 430px){
.all-cities-container{
    height: auto;
    margin-bottom: 100px;
}

.all-cities-container h2{
    margin: 50px 0;
}


}
