.all-cities-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 125vh;
    flex-direction: column;
}

.all-cities-container h2{
    font-weight: 500;
    font-size: 36px;
    align-items: center;
    text-align: center;
    font-weight: 600;
}

.all-city-buttons{
  /* width: 100%; */
  /* width:90%; */
  height: 95vh;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap:10px
}

.all-city-buttons button{
    width: 280px;
    height: 88px;
    background-color: var(--White-Body);
    border: 1.5px solid var(--Email-Form-Text);
    border-radius: 24px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.all-city-buttons button:hover{
    background-color: var(--Dark-Blue-Body);
    color: var(--White-Text);
}