.header-container{
    background-color: var(--Baby-Blue-Body);
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    color: var( --White-Text);
    justify-content: space-between;
    padding: 0 3vw;
}

a{
    color: var(--White-Text);
}

.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.title-container h2{
    padding: 12px 8px 0 8px;
}

.title-icon{
    font-size: 2.8em;
}

.header-link-icons{
    font-size: 2em;
}

.header-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-links p{
    padding: 8px 20px 0 12px;
    font-size: 16px;
    cursor: pointer;
}

/* media queries */

/* tablet css  */
@media screen and (max-width: 918px){
.title-icon{
    font-size: 2em;
}


}

/* Mobile Css */
@media screen and (max-width: 600px){
.header-links{
   display: none;
}
}

