.header-container{
    background-color: var(--Baby-Blue-Body);
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    color: var( --White-Text);
    justify-content: space-between;
    padding: 0 3vw;
}

a{
    color: var(--White-Text);
}

.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.title-container h2{
    padding: 12px 8px 0 8px;
}

.title-icon{
    font-size: 2.8em;
}

.header-link-icons{
    font-size: 2em;
}

.header-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-links p{
    padding: 8px 20px 0 12px;
    font-size: 16px;
    cursor: pointer;
}

/*! header css */

.contact-container{
    width: 650px;
    height: 545px;
    display: flex;
    flex-direction: column;
}



.contact-container p:nth-child(2){
    font-weight: 400;
    font-size: 20px;
}

.contact-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.contact-header h2{
    font-weight: 500;
    font-size: 36px;
}


.contact-header img{
    width: 3em;
}

.contact-form-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 70%;
}

.form-container-1{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-weight: 500;
    font-size: 24px;
}
.form-container-1 input{
    width: 280px;
    height: 50px;
    padding-left: 10px;
    border: 1px solid #CED3D8;
    border-radius: 12px;
    font-weight: 400;
    font-size: 20px;
    color: #CED3D8;
}

.form-container-2{
    margin-top: 30px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-weight: 500;
    font-size: 24px;
    height: 400px;
}

.form-container-2 input{
    width: 280px;
    height: 50px;
    padding-left: 10px;
    border: 1px solid #CED3D8;
    border-radius: 12px;
    font-weight: 400;
    font-size: 20px;
    color: #CED3D8;
}

.form-container-2 textarea{
    width: 280px;
    height: 184px;
    background: #FFFFFF;
    border: 1px solid #CED3D8;
    border-radius: 12px;
    font-weight: 400;
    font-size: 20px;
    color: #CED3D8;
    padding: 10px 0 0 10px;
}

.form-container-2 button{
    width: 280px;
    height: 56px;
    background: #3A5295;
    border-radius: 12px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}