.city-details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100vh;
}

.filter-form-container{
    width: auto;
    height: 176px;
    border-radius: 24px;
    background-color: var(--White-Body);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    position: absolute;
    top:-120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filter-form-titles{
    display: flex;
    justify-content:space-between;
    padding-right: 12%;
    width: 95%;
    margin: 0 0 0 40px;
    color: #000;
    font-size: 24px;
    font-family: Epilogue;
    font-weight: 500;
    line-height: 40px;
}

.filter-form-inputs{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 10px 25px 10px 40px;
}

.filter-form-inputs select{
    margin: 0 8px 0 0;
    width: 252px;
    height: 48px;
    border-radius: 12px;
    border: 1px solid #CED3D8;
    background-color: #FFF;
    padding-left: 10px;
    color: #CED3D8;
    font-size: 20px;
}

.property-card-container{
    margin: 150px auto 0 auto;
    height: auto;
    display: flex;
    width: 92%;
    flex-direction: column;
}

.property-card-container-title{
    display: flex;
    padding-left: 15px;
    font-size: 36px;
    font-weight: 500;
    margin: 10px 0 20px 0;

}

.property-card-container-title span{
    color: var(--Baby-Blue-Body);
}

.property-card-grid{
  width: auto;
  height: auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  flex-wrap: wrap;
}



/* media queries */

/* tablet css  */
@media screen and (max-width: 930px){
.filter-form-container{
    width: 90%;
    align-items: center;
}

.filter-form-titles{
    display: none;
}

.filter-form-inputs{
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: auto;
    margin: 0 25px 0 25px;
}

.filter-form-inputs select{
    width: 282px;
    height: 48px;
    margin: 8px;
}



.city-details-container{
    height: auto;
}

.property-card-container{
    height: auto;
}

.property-card-grid{
  grid-template-columns: repeat(2, 1fr);
}


}

/* Mobile Css */
@media screen and (max-width: 720px){
.filter-form-container{
    width: 90%;
    align-items: center;
    height: auto;
    top:-160px;
    padding: 10px 0;
}

.filter-form-titles{
    display: none;
}

.filter-form-inputs{
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: auto;
    margin: 0 25px 0 25px;
}

.filter-form-inputs select{
    width: 282px;
    height: 48px;
    margin: 8px;
}



.city-details-container{
    height: auto;
}

.property-card-container{
    height: auto;
}

.property-card-grid{
  grid-template-columns: repeat(1, 1fr);
}



}

@media screen and (max-width: 340px){
.filter-form-container{
    width: 95%;
    align-items: center;
    height: auto;
    top:-70px;
    padding: 10px 15px;
}

.filter-form-titles{
    display: none;
}

.filter-form-inputs{
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: auto;
    margin: 0 25px 0 25px;
}

.filter-form-inputs select{
    width: 232px;
    height: 48px;
    margin: 8px;
}

.property-card-container{
    margin-top: 280px;
}

}