.footer-container{
    background-color: var(--Baby-Blue-Body);
    width: 100vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-container-items{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
}

.newsletter-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--White-Text);
    height: 44vh;
}

.newsletter-container h2{
    font-size: 36px;
}

.newsletter-container p:nth-child(2){
    font-size: 20px;
}

.newsletter-container input{
   height: 6vh;
   border-radius: 12px;
   border: none;
   padding-left: 10px;
}

.newsletter-container input::placeholder{
    color: var( --Email-Form-Text);
}

.social-container{
    color: var(--White-Text);
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.social-container h2{
    font-size: 36px;
}

.social-icons-container{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    font-size: 20px;
}

.social-icons-container p{
    line-height: 2;
    padding-bottom: 1px;
    font-size: 20px;
}

.social-icon{
    font-size: 1.5em;
}

.credits-container{
    background-color: var(--Black-Body);
    color: var(--Grey-Text);
    width: 100vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    font-size: 16px;
}

.footer-links-container{
    display: flex;
}

.footer-links-container p{
    padding: 0 20px;
    font-size: 16px;
}

.footer-copyright-container{
    display: flex;
}

.footer-copyright-container p{
    padding: 0 20px;
}