.footer-container{
    background-color: var(--Baby-Blue-Body);
    width: 100vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-container-items{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
}

.newsletter-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--White-Text);
    height: 44vh;
}

.newsletter-container h2{
    font-size: 36px;
}

.newsletter-container p:nth-child(2){
    font-size: 20px;
}

.newsletter-container input{
   height: 6vh;
   border-radius: 12px;
   border: none;
   padding-left: 10px;
}

.newsletter-container input::placeholder{
    color: var( --Email-Form-Text);
}

.social-container{
    color: var(--White-Text);
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.social-container h2{
    font-size: 36px;
}

.social-icons-container{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    font-size: 20px;
}

.social-icons-container p{
    line-height: 2;
    padding-bottom: 1px;
    font-size: 20px;
}

.social-icon{
    font-size: 1.5em;
}

.credits-container{
    background-color: var(--Black-Body);
    color: var(--Grey-Text);
    width: 100vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    font-size: 16px;
}

.footer-links-container{
    display: flex;
}

.footer-links-container p{
    padding: 0 20px;
    font-size: 16px;
}

.footer-copyright-container{
    display: flex;
}

.footer-copyright-container p{
    padding: 0 20px;
}

#success-message{
    color: greenyellow;
    font-size: 20px
}

/* media queries */

/* tablet css  */
@media screen and (max-width: 930px){
.footer-container-items{
    justify-content: space-around;
}

.newsletter-container{
    width: 50%;
    padding: 0 20px;
    height: auto;
}

.newsletter-container input{
   width: 90%;
}

.social-container{
    width: auto;
}

.credits-container{
    height: 60vh;
    /* padding: 0; */
}

.footer-links-container{
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
}

.footer-copyright-container{
    height: 10vh;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

}

/* Mobile Css */
@media screen and (max-width: 600px){
.footer-container{
    height: auto;
    justify-content: center;
}


.footer-container-items{
    flex-direction: column;
    height: auto;
    align-items: center;
}

.newsletter-container{
    height: 50vh;
    width: 90%;
}

.social-container{
    width: 90%;
    padding: 0 20px;
    height: 30vh;
}

.credits-container{
    height: 20vh;
    padding: 0;
}


}

@media screen and (max-width: 415px){
.footer-container{
    height: auto;
    justify-content: center;
}


.footer-container-items{
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.newsletter-container{
    height: 50vh;
    width: 90%;
}

.social-container{
    width: 90%;
    padding: 0 20px;
    height: 30vh;
}

.credits-container{
   height: 35vh;
}

.footer-links-container{
    height: 20vh;
}

.footer-copyright-container{
    justify-content: space-evenly;
    width: 60%;
}
}