.city-banner{
    display: flex;
    width: 92%;
    height: 520px; 
    border-radius: 24px;
    background-color: #F6FAFD;
    margin: 100px 0;
    justify-content: space-evenly;
    align-items: center;
}

.city-banner-info{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    width: 50%;
}

.city-banner-info span{
    color: var(--Baby-Blue-Body);
}

.city-banner-info h2{
font-size: 36px;
line-height: 48px; 
}

.city-banner-info p{
    font-size: 20px;
    line-height: 32px; 
}

.city-banner-img img{
    border-radius: 24px;
    width: auto;
}