@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');
/**REST CSS **/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Epilogue', sans-serif;
}

/**GLOBAL CSS**/

:root{
  --White-Body: rgb(255, 255, 255);
  --Dark-Blue-Body: rgb(58, 82, 149);
  --White-Text: rgb(255, 255, 255);
  --Black-Text: rgb(0, 0, 0);
  --Grey-Text: rgb(206, 211, 216);
  --Dark-Blue-Text: rgb(58, 82, 149);
  --Baby-Blue: rgb(0, 162, 225);
}