@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');
/**REST CSS **/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Epilogue', sans-serif;
}

html,body{
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

a:link,
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover,
a:active {
  color: black;
  background-color: transparent;
}

/**GLOBAL CSS**/

:root{
  --White-Body: rgb(255, 255, 255);
  --Dark-Blue-Body: rgb(58, 82, 149);
  --Baby-Blue-Body: rgb(0, 162, 225);
  --Black-Body: rgb(0, 0, 0);
  --White-Text: rgb(255, 255, 255);
  --Black-Text: rgb(0, 0, 0);
  --Grey-Text: rgba(255, 255, 255, 0.6);;
  --Dark-Blue-Text: rgb(58, 82, 149);
  --Email-Form-Text: #CED3D8;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-text {
  font-size: 24px;
  margin-top: 16px;
  font-family: 'Ultra', serif;
  text-align: center;
  display: flex;
  justify-content: center;
  width: auto;
}