.homepage-container{
    min-height: 100vh;
    position: relative;
    padding-top: 10%;
}

.form-container{
    width: 80%;
    height: 128px;
    background-color: var(--White-Body);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
    position: absolute;
    top: -3.5%;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-container select{
    width: 55%;
    height: 40%;
    background-color: var(--White-Body);
    border: 1px solid var(--Email-Form-Text);
    border-radius: 12px;
    text-align: start;
    padding-left: 20px;
    font-size: 20px;
}

.form-container button{
    width: 30%;
    height: 36%;
    background-color: var(--Dark-Blue-Body);
    border-radius: 12px;
    color: var(--White-Text);
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.top-cities-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

#all-cities-button{
     width: 200px;
    height: 48px;
    background-color: var(--Dark-Blue-Body);
    border-radius: 12px;
    border: none;
    color: var(--White-Text);
    font-size: 20px;
    cursor: pointer;
}

.top-cities-container h1{
font-weight: bold;
font-size: 36px;
text-align: center;
}

.details-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite-container{
    display: flex;
    justify-content: center;
    align-items: center;
}