.slider-container {
  display: flex;
  justify-content: center;
  position: relative;
  height: auto;
}

.slider-image{
     filter: brightness(58%)blur(0.5px);
     width: 100%;
}
.slider-header {
  position: absolute;
  color: var(--White-Text);
  top: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.slider-header h2 {
  font-size: 64px;
  display: block;
  width: 100%;
  white-space: break-spaces; /* Use break-spaces instead of normal */
  overflow-wrap: break-word; /* Add overflow-wrap property */
}

.slider-header p {
  font-size: 24px;
  line-height: 3;
}
